<!doctype html>
<html ng-app="cloudWebApp">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title>CloudKH</title>
    <meta name="description" content="cloudKH store video google drive youtube">
    <meta name="viewport" content="width=device-width,initial-scale=0.8,maximum-scale=0.8">
    <link rel="stylesheet" href="bower_components/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/gentelella/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/gentelella/vendors/iCheck/skins/flat/green.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/gentelella/vendors/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="bower_components/gentelella/build/css/custom.min.css">
  </head>
  <body ng-controller="cloudKhMaterial" class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title">
                <i class="fa fa-paw"></i>
                <span>CloudKh</span>
              </a>
            </div>
            <div class="clearfix"></div>
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/yeoman.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>User CloudKh</h2>
              </div>
            </div>
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu" style="">
                  <li><a><i class="fa fa-user"></i> User <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none;">
                      <li ng-repeat="item in menuUser">
                        <a ng-click="callByMenu(item.action)">
                          <i ng-class="item.icon"></i><span ng-bind="item.title"></span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="nav side-menu" style="">
                  <li><a><i class="fa fa-file-video-o"></i> File <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none;">
                      <li ng-repeat="item in menuVideo" class>
                        <a ng-click="callByMenu(item.action)">
                          <i ng-class="item.icon"></i><span ng-bind="item.title"></span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="images/yeoman.png" alt="">User CloudKh
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
        <!-- Main Contents -->
        <div class="right_col" role="main">
          <ui-view layout="column" layout-fill layout-padding>
            <div ng-view=""></div>
          </ui-view>
        </div>
        <!-- / Main Contents -->
        <!-- footer content -->
        <footer>
          <div class="text-center">
            <strong>CloudKh - 2017</strong>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    <script async defer src="https://apis.google.com/js/api.js"></script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ag-grid/dist/ag-grid.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-file-model/ng-file-model.js"></script>
    <script src="bower_components/base-64/base64.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/main.css">
    <script src="bower_components/gentelella/build/js/custom.min.js"></script>
    <script src="bower_components/blob/Blob.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/cloudkhapiclient.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <!-- setup environments-->
    <script src="scripts/services/environments.js"></script>
    <script src="scripts/services/users.js"></script>
    <!-- load components -->
    <script src="scripts/components/user-list/user-list.js"></script>
    <script src="scripts/components/user-list/user-list-table-settings.js"></script>
    <script src="scripts/components/user-list/user-list-table-cell-renderns.js"></script>
    <script src="scripts/services/user-list.js"></script>
    <script src="scripts/controllers/user.js"></script>
    <script src="scripts/services/video-list.js"></script>
    <script src="scripts/services/videos.js"></script>
    <script src="scripts/services/access-tokens.js"></script>
    <script src="scripts/components/video-list/video-list.js"></script>
    <script src="scripts/components/video-list/video-list-table-settings.js"></script>
    <script src="scripts/components/video-list/video-list-table-cell-renderns.js"></script>
    <script src="scripts/components/video-status-list/video-status-list.js"></script>
    <script src="scripts/components/upload/upload.js"></script>
  </body>
</html>
