<div class="row top_tiles">
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-file-video-o"></i></div>
      <div class="count"><span ng-bind="$ctrl.total"></span></div>
      <h3>Total Files</h3>
      <p>All files are uploaded.</p>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-check-circle"></i></div>
      <div class="count"><span ng-bind="$ctrl.done"></span></div>
      <h3>Done</h3>
      <p>Files are done.</p>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-spinner"></i></div>
      <div class="count"><span ng-bind="$ctrl.progress"></span></div>
      <h3>Progress</h3>
      <p>Files are progressing.</p>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-exclamation-triangle"></i></div>
      <div class="count"><span ng-bind="$ctrl.ban"></span></div>
      <h3>Ban</h3>
      <p>Files are banned.</p>
    </div>
  </div>
</div>
